.header {
  padding: 10px;
  color: rgb(153, 133, 156);
  background-color: rgb(63, 14, 64);
}

.container {
  overflow: hidden;
}

.item {
  float: left;
  padding: 20px 30px;
  text-align: center;
}
